.container {
  width: 400px;
  height: 400px;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-gap: 20px;
  padding: 20px;
  position: relative;
}

.items {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  cursor: grab;
}
